$defoult: #777777;
$background: #f7f7f7;
$white: white;
$box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.2));


@mixin styleBtn($color) {
    text-transform: uppercase;
    color: $defoult;
    display: inline-block;
    color: $color;
}