@import "var.scss";
@import "reset.scss";


.header{
    position: relative;
    height: 90vh;
    background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../images/main-photo.jpg) center / cover no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    &__logo{
        position: absolute;
        left: 50px;
        top: 50px;
    }
    &__inner{
        position: absolute;
        top: 21%;
        left: 50%;
        transform: translate(-50%, 50%);
    }
    &__title{
        color: $white;
        text-align: center;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    &__upper-title{
        text-transform: uppercase;
        font-weight: 800;
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 10px;
        max-width: 100%;
        margin-bottom: 10px;
        display: block;
        animation: leftToRight;
        animation-duration: 1.5s;
    }
    &__down-title{
        font-weight: 100;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 5px;
        display: block;
        color: $white;
        text-align: center;
        text-transform: lowercase;
        max-width: 100%;
        animation: rightToLeft;
        animation-duration: 1.5s;
        margin-bottom: 65px;
        
    }
    @keyframes leftToRight {
        0%{
            opacity: 0;
            transform: translateX(-100px);
        }
        90%{
            transform: translateX(10px);
        }
        100%{
            opacity: 1;
            transform: translateX(0vh);
        }
        
    }
    @keyframes rightToLeft {
        0%{
            opacity: 0;
            transform: translateX(100px);
        }
        90%{
            transform: translateX(-10px);
        }
        100%{
            opacity: 1;
            transform: translateX(0vh);
        }
        
    }
    @keyframes downToUp{
        0%{
            opacity: 0;
            transform: translateY(200px);
        }
        30%{
            opacity: .5;
        } 
        100%{
            opacity: 1;
            transform: translateY(0);
        } 
    }
    &__button{
        padding: 15px 0px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 5px;
        color: $defoult;
        background-color:$white;
        border-radius: 50px;
        text-transform: uppercase;
        text-align: center;
        display: block;
        max-width: 277px;
        letter-spacing: 5px;
        margin: 0 auto;
        transition: all .1s ease-in-out;
        animation:downToUp;
        animation-duration: 1.5s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        
        &:hover{
            transform: translateY(-4px);
            box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.2));
        }
        &:active{
            transform: translateY(-2px);
            box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.1));
        }
    }
}