
@import "abstracts/reset";
@import "abstracts/mixin";
@import "abstracts/var";
@import "abstracts/functions";

@import "base/animation";
@import "base/base";
@import "base/typography";
@import "base/utilites";

@import "layout/header";
@import "layout/grid";

@import "pages/home";





.header{
    position: relative;
    height: 90vh;
    background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../images/main-photo.jpg) center / cover no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    &__logo{
        position: absolute;
        left: 5rem;
        top: 5rem;
        height: 7rem;
        width: 5.6rem;
    }
    &__inner{
        position: absolute;
        top: 23.9rem;
        left: 50%;
        transform: translate(-50%, 50%);
    }
    &__title{
        color: $white;
        text-align: center;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    &__upper-title{
        text-transform: uppercase;
        font-weight: 800;
        font-size: 5rem;
        line-height: 6rem;
        letter-spacing: 1rem;
        max-width: 100%;
        margin-bottom: 1rem;
        display: block;
        animation: leftToRight;
        animation-duration: 1.5s;
    }
    &__down-title{
        font-weight: 100;
        font-size: 4rem;
        line-height: 4.8rem;
        letter-spacing: .5rem;
        display: block;
        color: $white;
        text-align: center;
        text-transform: lowercase;
        max-width: 100%;
        animation: rightToLeft;
        animation-duration: 1.5s;
        margin-bottom: 6.5rem;
  
    }
    &__button{
        @include styleBtn($defoult);
        padding: 1.5rem 0;
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0.5rem;
        background-color:$white;
        border-radius: 5rem;
        text-align: center;
        width: 27.7rem;
        letter-spacing: 0.5rem;
        margin: 0 auto;
        transition: all .1s ease-in-out;
        animation:downToUp;
        animation-duration: 1.5s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        display: flex;
        flex-direction: column;
        &:hover{
            transform: translateY(-0.4rem);
            box-shadow: $box-shadow;
        }
        &:active{
            transform: translateY(-0.2rem) ;
            box-shadow: $box-shadow;
        }
    }
}
