@keyframes leftToRight {
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    90%{
        transform: translateX(1rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }   
}
@keyframes rightToLeft {
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    90%{
        transform: translateX(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    } 
}
@keyframes downToUp{
    0%{
        opacity: 0;
        transform: translateY(20rem);
    }
    30%{
        opacity: .5;
    } 
    100%{
        opacity: 1;
        transform: translateY(0);
    } 
}