@mixin styleBtn($color) {
    text-transform: uppercase;
    color: $defoult;
    display: flex;
    flex-direction: column;
    color: $color;   
}
@mixin clearFix{
    &::after{
        content: '';
        display: table;
        clear: both; 
    }

}